@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 920px;
	margin: 0 auto;
}
header{
	background-color: #fff;
	padding: 15px 0;
	position: sticky;
	top: 0;
	width: 100%;

	z-index: 1000;
}
.navbar{
	display: flex; /* выравнивает элементы по горизонтали */
	justify-content: space-between; /* выравнивает по краям (горизонтально) */
	align-items: center; /* выравнивает по середине (вертикально) */
}
.navbar-menu ul{
	display: flex;
	list-style-type: none; /* убирает кружки у ul списка */
}
.navbar-menu ul li{
	margin-left: 15px; /* отступ слева */
}
.navbar a{
	text-decoration: none; /* убирает подчеркивание у текста */
	color: #000; /* black */
	font-size: 15px;
}
.navbar .logo{
	font-size: 20px;
}

.top-baner{
	height: 540px;
	background-image: url(../img/baner1.png);
	background-position: center; /* выравнивает картинку по центру */
	background-repeat: no-repeat; /* запрещает повторение фона */
	background-size: cover; /* растягивает по ширине экрана  */
	background-attachment: fixed;

	display: flex;
	align-items: center;
	position: relative;
}
.top-baner:before{
	content: "";
	width: 100%;
	height: 100%;
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(253, 110, 110, 0.4);
}
h1{
	font-size: 40px;
	color: #fff;
	position: relative;
	z-index: 2;
}
h2{
	font-size: 40px;
	color: #fff;
	position: relative;
	z-index: 2;
}
.highlight{
	background-color: rgba(255,255,255,0.2); /* прозрачный белый цвет */
	display: inline-block;
	padding: 2px 5px;
}

.baner-button{
	position: relative;
	z-index: 2;
	display: inline-block;
	margin-top: 20px;
	border: 3px solid #fff;
	padding: 15px 20px;
	text-decoration: none;
	color: white;
	font-size: 17px;
	margin-right: 15px;
	transition: all .2s linear;
	background-color: transparent;
}
.baner-button:hover{
	background-color: #fff;
	color: rgba(253, 110, 110, 1);
}


#about{
	background-color: #EDEDED;
	padding: 80px 0;
	color: #696969;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.left-side{
	width: 30%;
}
.right-side{
	width: 70%;
}

.left-side h3{
	font-size: 25px;
	font-family: 'Roboto', sans-serif;

}
.right-side p{
	font-size: 12px;
	line-height: 16px;
}

.my-skills{

}

.progress-bar{
	margin-top: 15px;
	width: 100%;
	background-color: white;
	height: 44px;

	position: relative;

	display: flex;
	align-items: center;
}
.progress-bar span{
	display: block;
	position: relative;
	z-index: 2;
	margin-left: 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.progress-bar-fill{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #d9d9d9;
	height: 100%;
	width: 80%;
}

.skill1 .progress-bar-fill{
	width: 70%;
	animation-name: skill1;
  	animation-duration: 4s;
}
.skill2 .progress-bar-fill{
	width: 40%;
	animation-name: skill2;
  	animation-duration: 4s;
}
.skill3 .progress-bar-fill{
	width: 90%;
	animation-name: skill3;
  	animation-duration: 4s;
}
.skill4 .progress-bar-fill{
	width: 15%;
	animation-name: skill4;
  	animation-duration: 4s;
}

/* Секция портфолио */
#projects{
	padding-top: 90px;
}
#projects h3{
	padding-bottom: 25px;
	font-size: 30px;
	color: #4d4d4d;
	font-weight: 400;
}

.flex{
	flex-wrap: wrap;
}
.project{
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
}
.project h4{
	color: #fff;
	font-size: 15px;
	display: block;
	font-weight: 400;
	margin-bottom: 3px;
}
.project span{
	display: block;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.6;
	font-size: 10px;
}
.project1{
	width: 25%;
	background-image: url(../img/image1.png);
	background-size: cover;
}
.project2{
	width: 50%;
	background-image: url(../img/image2.png);
	background-size: cover;
}
.project3{
	width: 25%;
	background-image: url(../img/image3.png);
	background-size: cover;
}
.project4{
	width: 50%;
	background-image: url(../img/image4.png);
	background-size: cover;
}
.project5{
	width: 50%;
	background-image: url(../img/image5.png);
	background-size: cover;
}
.project6{
	width: 33.33%;
	background-image: url(../img/image6.png);
	background-size: cover;
}
.project7{
	width: 33.33%;
	background-image: url(../img/image7.png);
	background-size: cover;
}
.project8{
	width: 33.33%;
	background-image: url(../img/image8.png);
	background-size: cover;
}
.project9{
	width: 50%;
	background-image: url(../img/image9.png);
	background-size: cover;
}
.project10{
	width: 50%;
	background-image: url(../img/image10.png);
	background-size: cover;
}

#contacts{
	padding: 90px 0;
	background-color: #ededed;
}

#contacts h3{
	font-weight: 400;
	font-size: 30px;
	color: #696969;
	margin-bottom: 30px;
}
#contacts p{
	color: #a3a3a3;
	font-size: 14px;
	line-height: 20px;
}
.form-control{
	padding: 18px 15px;
	background-color: white;
	border: none;
	width: 100%;
	margin: 0;
	color: #333;
}
#contacts .right-side{
	padding-left: 80px;
}
#contacts .name, #contacts .budget{
	background-color: #f7f7f7;
}
#contacts textarea{
	height: 128px;
}
::placeholder{
	font-family: 'Roboto', sans-serif;
	color: #D1D1D1;
	font-size: 14px;
}
.form-control:focus{
	outline: none;
	border: none;
}
.submit-button{
	background-color: #d1d1d1;
	color: #fff;
	border: none;
	padding: 12px 20px;
	margin-top: -3px;
	font-size: 15px;
}

#footer {
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;

	color: #C4C4C4;
	font-size: 18px;
}
#footer .flex{
	display: flex;
	justify-content: space-between;
}
#footer a{
	text-decoration: none;
	color: #000;
}
/* ANIMATIONS */

@keyframes skill1{
	from{
		width: 0%;
	}
	to{
		width: 70%;
	}
}
@keyframes skill2{
	
}
@keyframes skill3{
	
}
@keyframes skill4{
	
}


